In [1]:
import numpy as no
import pandas as pd
df = pd.read_csv('C:\\Users\\swasa\\Desktop\\UPDATED_NLP_COURSE\\05-Topic-Modeling\\npr.csv')

In [2]:
df.head()

                                             Article
0  In the Washington of 2016, even when the polic...
1    Donald Trump has used Twitter  —   his prefe...
2    Donald Trump is unabashedly praising Russian...
3  Updated at 2:50 p. m. ET, Russian President Vl...
4  From photography, illustration and video, to d...

In [4]:
len(df)

11992

In [5]:
df.isnull().sum()

Article    0
dtype: int64

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [8]:
tfidf = TfidfVectorizer(max_df = 0.95, min_df = 2, stop_words = 'english')

In [9]:
dtm = tfidf.fit_transform(df['Article'])

In [10]:
dtm

<11992x54777 sparse matrix of type '<class 'numpy.float64'>'
	with 3033388 stored elements in Compressed Sparse Row format>

In [11]:
from sklearn.decomposition import NMF

In [12]:
nmf_model = NMF(n_components = 7, random_state = 42)

In [14]:
nmf_model.fit(dtm)

NMF(alpha=0.0, beta_loss='frobenius', init=None, l1_ratio=0.0, max_iter=200,
    n_components=7, random_state=42, shuffle=False, solver='cd', tol=0.0001,
    verbose=0)

In [19]:
tfidf.get_feature_names()[2300]

'albala'

In [21]:
len(nmf_model.components_)

7

In [22]:
type(nmf_model.components_)

numpy.ndarray

In [23]:
nmf_model.components_

array([[0.00000000e+00, 2.49950821e-01, 0.00000000e+00, ...,
        1.70313822e-03, 2.37544362e-04, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 8.22048918e-02, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       ...,
       [0.00000000e+00, 3.12379960e-02, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [5.89723338e-03, 0.00000000e+00, 1.50186440e-03, ...,
        7.06428924e-04, 5.85500542e-04, 6.89536542e-04],
       [4.01763234e-03, 5.31643833e-02, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]])

In [26]:
for index, topic in enumerate(nmf_model.components_):
    print(f'The top 10 words in the topic #{index}')
    print([tfidf.get_feature_names()[i] for i in topic.argsort()[-10:]])
    print('\n')
    print('\n')

The top 10 words in the topic #0
['disease', 'percent', 'women', 'virus', 'study', 'water', 'food', 'people', 'zika', 'says']




The top 10 words in the topic #1
['election', 'republican', 'obama', 'white', 'house', 'donald', 'campaign', 'said', 'president', 'trump']




The top 10 words in the topic #2
['tax', 'plan', 'republicans', 'affordable', 'obamacare', 'coverage', 'medicaid', 'insurance', 'care', 'health']




The top 10 words in the topic #3
['isis', 'russia', 'government', 'state', 'attack', 'president', 'reports', 'court', 'said', 'police']




The top 10 words in the topic #4
['party', 'delegates', 'vote', 'state', 'democratic', 'hillary', 'campaign', 'voters', 'sanders', 'clinton']




The top 10 words in the topic #5
['time', 'song', 'life', 'really', 'know', 'people', 'think', 'just', 'music', 'like']




The top 10 words in the topic #6
['devos', 'children', 'college', 'kids', 'teachers', 'student', 'education', 'schools', 'school', 'students']

In [27]:
topic_results = nmf_model.transform(dtm)

In [28]:
topic_results.argmax(axis = 1)

array([1, 1, 1, ..., 0, 4, 3], dtype=int64)

In [29]:
df['Topic'] = topic_results.argmax(axis = 1)

In [30]:
df.head()

                                             Article  Topic
0  In the Washington of 2016, even when the polic...      1
1    Donald Trump has used Twitter  —   his prefe...      1
2    Donald Trump is unabashedly praising Russian...      1
3  Updated at 2:50 p. m. ET, Russian President Vl...      3
4  From photography, illustration and video, to d...      6

In [37]:
mytopic_dic = {0:'Health',1:'Politics',2:'Legis',3:'Govt',4:'Election',5:'Music',6:'Education'}
df['Topic_labels'] = df['Topic'].map(mytopic_dic)

In [38]:
df.head()

                                             Article  Topic Topic_labels
0  In the Washington of 2016, even when the polic...      1     Politics
1    Donald Trump has used Twitter  —   his prefe...      1     Politics
2    Donald Trump is unabashedly praising Russian...      1     Politics
3  Updated at 2:50 p. m. ET, Russian President Vl...      3         Govt
4  From photography, illustration and video, to d...      6    Education

In [39]:
df['Topic_labels'].unique()

array(['Politics', 'Govt', 'Education', 'Music', 'Health', 'Legis',
       'Election'], dtype=object)

In [40]:
df['Topic_labels'].value_counts()

Music        3577
Govt         2808
Health       2439
Politics     1294
Election      639
Education     635
Legis         600
Name: Topic_labels, dtype: int64

In [41]:
df['Topic_labels'].value_counts().sum()

11992

In [42]:
len(df)

11992